<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>Anchormodeler</servlet-name>
		<servlet-class>anchormodeler.AnchormodelerServlet</servlet-class>
	</servlet>

    <servlet>
        <servlet-name>Batch</servlet-name>
        <servlet-class>anchormodeler.BatchServlet</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>Anchormodeler</servlet-name>
		<url-pattern>/anchormodeler</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>Batch</servlet-name>
        <url-pattern>/batch</url-pattern>
    </servlet-mapping>
	
	<security-constraint>
	  <web-resource-collection>
	    <url-pattern>/batch</url-pattern>
	  </web-resource-collection>
	  <auth-constraint>
	    <role-name>admin</role-name>
	  </auth-constraint>
	</security-constraint>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>